<ion-view title="CleanSuit">
	<ion-content class="historial-ord">
		<div class="titulo">
			<h3>Historial de órdenes</h3>
			<p>Este es tu historial de órdenes realizadas<br/>hasta el momento.</p>
		</div>

		<div class="card" ng-if="!hayOrdenes()">
			<ion-item class="item-text-wrap">
				Aún no existen ordenes para mostrar.
			</ion-item>
		</div>

		<ion-list ng-if="hayOrdenes()"> 
			<ion-item class="item-icon-right" ng-repeat="orden in ordenes track by $index" 
					ui-sref="app.historial-orden({'indexOrden': {{$index}}})">
				<h3>{{orden.fecha | date : "dd 'de' MMMM 'de' yyyy"}}</h3>
				<p>Orden de domicilio {{orden.estado}}</p>
				<p># de orden: {{orden.codigo | numberFixedLen:4}}</p>
				<i class="icon ico-flechader assertive" ></i>
			</ion-item>
		</ion-list>

	</ion-content>
</ion-view>
