<ion-view title="CleanSuit">
	<ion-content class="ord-en-proceso">
		<div class="titulo"> 
    		<h3>Órdenes en proceso</h3>
			<p>Estas son las ordenes que actualmente<br/>tiene en proceso.</p>
		</div>

		<div class="card" ng-if="!hayOrdenes()">
			<div class="item item-text-wrap">
				No hay Ordenes en Proceso para mostrar.
			</div>
		</div>

		<ion-list ng-if="hayOrdenes()">
			<ion-item class="item-icon-right" ng-repeat="orden in ordenes track by $index" 
					ui-sref="app.orden-en-proceso( {'indexOrden': {{$index}} })">

				<h3>Orden No. {{orden.codigo | numberFixedLen:4}}</h3>
				<p>{{orden.fecha | date : "dd 'de' MMMM 'de' yyyy"}}</p>
				<i class="icon ico-flechader assertive" ></i>

			</ion-item>
		</ion-list>		
	</ion-content>
</ion-view>
