<ion-view title="Cleansuit">
  	<ion-content>

		<menu-tabs carrito="carrito" banderas="banderas"></menu-tabs>

		<div class="card solicitud-vacia">
			<h3>Solicitud directa</h3>
			Solicita de forma rápida alguno de nuestros servicios. El valor del servicio lo estima el domiciliario.
			<ion-checkbox ng-model="carrito.servicioDirecto" ng-click="carrito.calcularTotales()" ng-checked="carrito.servicioDirecto"></ion-checkbox>
		</div>

		<div class="card cotizar">
			Puedes cotizar el valor de tu servicio en las siguientes secciones
		</div>

  		<div class="card" ng-show="!hayServicios()">
			<div class="item item-text-wrap">
				<a ng-click="cargarServicios()">Cargar</a> servicios.
			</div>
		</div>

		<ion-list ng-if="hayServicios()">
			<div class="categorias lista">
				<ion-item class="item-icon-right item-text-wrap" ng-repeat="servicio in servicios track by $index" 
					ui-sref="app.subservicios({ 'indexServicio': {{$index}} })">
					<h2>{{servicio.nombre}}</h2> 
					<p>{{servicio.descripcion}}</p>
					<i class="icon ico-flechader assertive" ></i>
				</ion-item>
			</div>
		</ion-list>

  	</ion-content>
  
  	<footer-carrito carrito="carrito"></footer-carrito> 
</ion-view>
