<ion-view title="Cleansuit">
    <ion-content>

        <menu-tabs carrito="carrito" banderas="banderas"></menu-tabs>

        
        <tutorial tutorial="tutorial" tipo="tipo"></tutorial>
        
        <div class="row"> 
            <div class="col text-center"><h3>{{servicio.nombre}}</h3></div> 
        </div>
        <div class="row">
            <div class="col text-center">{{servicio.descripcion}}</div> 
        </div>

        <div clas="card" ng-show="servicio.subservicios.length == 0">
            <div class="item item-text-wrap">
                No hay subservicios para mostrar.
            </div>
        </div>

        <tutorial ng-if="servicio.subservicios.length > 0"></tutorial>

        <ion-list id="{{idLst}}" ng-if="servicio.subservicios.length > 0" can-swipe="true" show-delete="false" show-reorder="false">
            <div class="servicios lista">
                <ion-item class="item-icon-right item-text-wrap" ng-repeat="subservicio in servicio.subservicios track by $index" 
                    ui-sref="app.subservicio({ 
                                            'indexServicio': {{indexServicio}}, 
                                            'indexSubservicio': {{$index}}  
                                            })">

                    <h2>
                        {{subservicio.nombre}} 
                        <span ng-if="carrito.cantidad(subservicio._id) > 0" class="badge badge-dark icon-badge">{{carrito.cantidad(subservicio._id)}}</span>
                    </h2>
                      
                    <p>{{subservicio.descripcion}}</p>
                    <h3>{{subservicio.precio | currency : "$ " : 0}}</h3>
                    <i class="icon ico-flechader assertive"></i>

                    <ion-option-button class="light text-center mas" ng-click="aumentarSubservicio(subservicio)">
                        <i class="icon ico-mas"></i>
                    </ion-option-button>                    

                    <ion-option-button class="light">
                        <div class="col text-center col-center fondo-gris">
                            {{carrito.cantidad(subservicio._id)}}
                        </div>
                    </ion-option-button>

                    <ion-option-button class="light text-center menos" ng-click="disminuirSubservicio(subservicio)">
                        <i class="icon ico-menos"></i>
                    </ion-option-button>
                    
                </ion-item>
            </div>		
        </ion-list>
    
    </ion-content>
    
    <footer-carrito carrito="carrito"></footer-carrito>
</ion-view>
