<ion-view title="Cleansuit">
	<ion-content>

		<menu-tabs carrito="carrito" banderas="banderas"></menu-tabs>

		
		<div class="vista" layout="column" layout-align="center">
			<h1>{{subservicio.nombre}}</h1>
			<p>{{subservicio.descripcion}}</p>

			<div class="contenedor">
					<h3>{{subservicio.precio | currency : "$ " : 0}}</h3>
					<div class="contador">
							<i ng-click="aumentarSubservicio(subservicio)" class="icon ico-mas"></i>
							<span>{{carrito.cantidad(subservicio._id)}}</span>
							<i ng-click="disminuirSubservicio(subservicio)" class="icon ico-menos"></i>
					</div>
			</div>
			
			<div layout="row" layout-align="start start" class="descripcion">
					<h3>Detalles</h3>
					<p>{{subservicio.detalles}}</p>    
			</div>
		</div>

		<elemento-centrado>
				<button class="bottom button button-positive" ng-click="regresarCatalogo()">Regresar al Catálogo de Servicios</button>
		</elemento-centrado>

	</ion-content>

	<footer-carrito carrito="carrito"></footer-carrito> 

</ion-view>
