<ion-view title="CleanSuit">
	<ion-content class="ord-en-proceso recogidas">

		<div class="titulo">
			<h3>Ordenes recogidas</h3>
			<p>Estas son las ordenes que ha recogido</p>
		</div>
		
		<ion-list ng-if="hayOrdenes()">
			<ion-item class="item-icon-right" ng-repeat="orden in ordenes track by $index" 
					ng-click="verInformacionOrden($index)">

				<h3>Orden de servicio</h3>
				<h4>20 de abril de 2016</h4>
				<span># de orden: {{orden.codigo | numberFixedLen:4}}</span>
				<i class="icon ico-flechader assertive"></i>
			</ion-item>
		</ion-list>	

	</ion-content>
</ion-view>
