<ion-view title="CleanSuit" cache-view="false">
    <ion-content class="bottom perfil">
    	
    	<div class="cont-imagen">
    		<div class="imagen">
				<img ng-src="{{usuario.url_foto || 'img/camara.png'}}" ng-click="subirFoto()"/>
			</div> 
    	</div>
    	
		<form name="formPerfil" ng-enter="formData.formValido ? actualizar() : noHacerNada()" novalidate>
			<ion-list>
				<ion-item class="row">
					<div class="col">
						<label class="item-input item-stacked-label izq">
							<span class="input-label">Nombres y apellidos</span>
							<input type="text" placeholder="su nombre" name="nombre" ng-model="usuario.nombre" pattern="(?=.*[a-zA-Z]).{1,100}" required>
						</label>
					</div>
				</ion-item>

				<!--
				<div class="item row">
					<div class="col">
						<label class="item-input item-stacked-label izq">
							<span class="input-label">Departamento</span>
							<input type="text" placeholder="departamento" name="departamento" ng-model="usuario.direccion.departamento" pattern="(?=.*[a-zA-Z]).{1,24}" required>
						</label>
					</div>

					<div class="col">
						<label class="item-input item-stacked-label der">
							<span class="input-label">Ciudad</span>
							<input type="text" placeholder="ciudad" name="ciudad" ng-model="usuario.direccion.ciudad" pattern="(?=.*[a-zA-Z]).{1,40}" required>
						</label>
					</div>
				</div>-->

				<ion-item class="row">
					<div class="col">
						<label class="item-input item-stacked-label item-floating-label">
							<span class="input-label">Dirección de residencia</span>
							<input type="text" placeholder="Dirección de residencia" name="direccion" ng-model="usuario.direccion" pattern="(?![.\n])(?=.*[a-zA-Z]).{3,100}" >
						</label>
					</div>
				</ion-item>
				

				<ion-item class="row">
					<div class="col">
						<label class="item-input item-stacked-label item-floating-label">
							<span class="input-label item-icon-right">Teléfono de contacto</span>
							<input type="tel" placeholder="Teléfono de contacto" name="telefono" ng-model="usuario.telefono" pattern="(?![.\n])(?=.*\d).{7,15}" >
						</label>
					</div>
				</ion-item>

				<ion-item class="row">
					<div class="col">
						<label class="item-input item-stacked-label">
							<span class="input-label item-icon-right">Correo electrónico</span>
							<input type="email" placeholder="Correo electrónico" name="correo" ng-model="usuario.correo" required>
						</label>
					</div>
				</ion-item>

				<ion-item class="row" ng-hide="usuario.fb">
					<div class="col">
						<div class="row item-icon-right">
							<label class="item-input item-stacked-label">
								<span class="input-label item-icon-right contrasena">Cambiar contraseña</span>
							</label>
							<i class="icon ico-flechaabajo" ng-click="formData.mostrarCambiarContrasena = !formData.mostrarCambiarContrasena"></i>
						</div>
						<div class="row item-text-wrap" ng-if="formData.mostrarCambiarContrasena">
							<p class="item-input item-text-wrap">Mínimo 6 caracteres.</p>
						</div>
					</div>
					
				</ion-item>	

				<ion-item class="row" ng-if="formData.mostrarCambiarContrasena">
					<div class="col">
						<label class="item-input item-stacked-label item-floating-label">
							<span class="input-label">Nueva contraseña</span>
							<input type="password" name="contrasena" placeholder="Nueva contraseña" ng-model="usuario.contrasena" pattern="(?=^.{6,15}$)(?![.\n])((?=.*\d)|(?=.*[a-zA-Z])|(?=.*\W+)).*$" required>
						</label>
					</div>
				</ion-item>

				<ion-item class="row" ng-if="formData.mostrarCambiarContrasena">
					<div class="col">
						<label class="item-input item-stacked-label item-floating-label">
							<span class="input-label">Confirmar nueva contraseña</span>
							<input type="password" name="repetirContrasena" placeholder="Confirmar nueva contraseña" ng-model="usuario.repetirContrasena" required>
						</label>
					</div>
				</ion-item>

				<!--
				<label class="item item-input item-stacked-label">
					<span ng-show="!formularioContrasena.$pristine && formularioContrasena.contrasena.$error.required">
						Escriba la nueva contraseña.
					</span>
				</label>
				<label class="item item-input item-stacked-label">
					<span ng-show="!formularioContrasena.confirmarContrasena.$pristine && formularioContrasena.confirmarContrasena.$error.required">
						Vuelva a escribir su nueva contraseña.
					</span>
				</label>
				<label class="item item-input item-stacked-label">
					<span ng-show="!formularioContrasena.contrasena.$pristine && formularioContrasena.contrasena.$invalid">
						La contraseña debe tener al menos 6 caracteres, incluyendo letras y numeros.
					</span> 
				</label>
				<label class="item item-input item-stacked-label">
					<span ng-show="!formularioContrasena.confirmarContrasena.$pristine && formularioContrasena.contrasena.$viewValue !== formularioContrasena.confirmarContrasena.$viewValue">
						Las contraseñas no coinciden.
					</span> 
				</label>
				-->
			</ion-list> 
			
			<!-- watch -->
			<div ng-hide="true">
				{{formData.formValido =
					(
						(formPerfil.contrasena.$dirty && formPerfil.contrasena.$valid
							&& (usuario.contrasena == usuario.repetirContrasena)
						)
						&& formPerfil.nombre.$valid
						&& formPerfil.direccion.$valid
						&& formPerfil.telefono.$valid
						&& formPerfil.correo.$valid
					)
					|| (formPerfil.nombre.$dirty && formPerfil.nombre.$valid)
					|| (formPerfil.direccion.$dirty && formPerfil.direccion.$valid)
					|| (formPerfil.telefono.$dirty && formPerfil.telefono.$valid)
					|| (formPerfil.correo.$dirty && formPerfil.correo.$valid)
					|| (formData.actualizaFoto)
					}}
			</div>
		
		</form> 
    </ion-content>

    <div class="bar bar-footer">
    	<a ng-click="actualizar()" class="button button-calm button-full" 
    		ng-disabled="!formData.formValido"> 
    	ACTUALIZAR PERFIL
		</a>
    </div>

</ion-view>
