<ion-view title="Cleansuit">
  <ion-content>
  	<menu-tabs carrito="carrito" banderas="banderas"></menu-tabs>
	
	<div class="vista promocion" layout="column" layout-align="center">
		
		<img ng-src="{{promocion.url_imagen}}" ng-cloack/>
		<h2>Código: {{promocion.codigo}}</h2>

		<div layout="row" layout-align="start start" class="descripcion">
			<h3>Detalles</h3>
			<p>{{promocion.descripcion}}</p> 
		</div>
	</div>	

	<elemento-centrado>
		<button class="bottom button button-positive" ng-click="regresarCatalogo()">
			Regresar a las promociones
		</button>
	</elemento-centrado>

  </ion-content>

  <footer-carrito carrito="carrito"></footer-carrito> 

</ion-view>
