<ion-view title="Cleansuit">
	<ion-content class="pdBoton contcarro">

		<div class="titulo">
			ENVIAR ORDEN # {{carrito.infoOrden.codigo | numberFixedLen:4}}
		</div> 

		
		<div class="card"  ng-if="!carrito.hayProductos() && carrito.contProductos + carrito.contPrendas == 0">
			<div class="item item-text-wrap">
				Para agregar prendas y productos presiona el botón flotante.
			</div>
		</div>

		<resumen-totales totales="carrito.totales" ng-if="carrito.hayProductos() || carrito.contProductos + carrito.contPrendas > 0"></resumen-totales>


		<div class="contagregar">
			<button class="addservicios " ng-click="agregarPrenda()">
			<i class="icon icons icons-servicios"></i>
			</button>
			<button class="addproductos" ng-click="agregarProductos()">
				<i class="icon icons icons-productos"></i>
			</button>
			<button class="btncerrar" ng-click="">
				<i class="icon icons icons-ocultar"></i>
			</button>
		</div>

		<button class="adds" ng-click="">
			<i class="icon icons icons-desplegar"></i>
		</button>
		

		<elemento-centrado>
			<a ng-click="cancelarOrden()" class="cancelar"> Cancelar Orden</a>
		</elemento-centrado>
	
	</ion-content>
</ion-view>
