<ion-view title="Cleansuit">
	<ion-content class="pdBoton contcarro">

		<div class="titulo">
			ENVIAR ORDEN # {{carrito.infoOrden.codigo | numberFixedLen:4}}
		</div> 

		
		<div >
		</div>
		<elemento-centrado>
			<i class="ion-paper-airplane"></i>
			<p>¿Desea enviar la orden # {{carrito.infoOrden.codigo | numberFixedLen:4}}?</p>
			<button class="" ng-click="enviar()">
				Enviar
			</button>
		</elemento-centrado>

		<elemento-centrado>
			<a ng-click="regresar()" class="cancelar"> Regresar a toma de orden</a>
		</elemento-centrado>
	
	</ion-content>
</ion-view>
