<ion-view >
	<ion-content class="has-subheader estado-orden" scroll="true" padding="false" >
		<h2># de orden: <span>{{orden.codigo | numberFixedLen:4}}</span></h2>
		<div class="confirmacion">
			<h3>Hemos recibido tu orden</h3>
			<span>En este momento estamos procesando tu pedido.</span>
		</div>

		<div class="estado">
			<h3>Puedes ver el estado de tu pedido en órdenes en proceso.</h3>
						
			<elemento-centrado>
				<button class="button button-positive" ng-click="regresarPrincipal()">Regresar a principal</button>
			</elemento-centrado>
		</div>	
		
	</ion-content>
</ion-view>
